/* Dropdown Button */
.dropbtn {
    background-color: #338033;
    color: white;
    padding: 8px;
    font-size: 16px;
    border: none;
    width: 302px;
    height: 50px;
    cursor: pointer;
    background-image: url('./img/icons8-down-arrow-32.png');
    background-position: 265px 15px;
    background-size: 20px 20px;
    background-repeat: no-repeat;
  }
  
  /* Dropdown button on hover & focus */
  .dropbtn:hover, .dropbtn:focus {
    background-color: #3e8e41;
  }
  
  /* The search field */
  #player1Search {
    box-sizing: border-box;
    background-image: url('./img/search-icon.png');
    background-position: 14px 12px;
    background-size: 20px 20px;
    background-repeat: no-repeat;
    font-size: 16px;
    font-family: sans-serif;
    padding: 14px 20px 12px 45px;
    border: none;
    width: 300px;
    border-bottom: 1px solid #ddd;
  }
  #player2Search {
    box-sizing: border-box;
    background-image: url('./img/search-icon.png');
    background-position: 14px 12px;
    background-size: 20px 20px;
    background-repeat: no-repeat;
    font-size: 16px;
    font-family: sans-serif;
    padding: 14px 20px 12px 45px;
    border: none;
    width: 300px;
    border-bottom: 1px solid #ddd;
  }
  
  /* The search field when it gets focus/clicked on */
  #myInput:focus {outline: 3px solid #ddd;}
  
  /* The container <div> - needed to position the dropdown content */
  .player1Dropdown {
    position: absolute;
    transform: translate(-50%, -50);
    top: 1143px;
    left:10px;
    display: inline-block;
  }
  .player2Dropdown {
    position: absolute;
    transform: translate(-50%, -50);
    top: 1593px;
    left: 10px;
    display: inline-block;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    overflow-y: scroll;
    overflow-x: hidden;
    position: absolute;
    background-color: #18414e;
    width: 300px;
    height: 300px;
    /* border: 1px solid #ddd; */
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    color: white;
    padding: 12px 16px;
    /* text-decoration: none; */
    display: block;
    font-size: 16px;
    font-family: sans-serif;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color: #48B548}
  
  /* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
  .show {display:block;}